*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 40px;
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    font-family: sans-serif;
}

.main-card{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: center;
}

.card1,.card2,.card3{
    height: 350px; 
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: hidden;
    position: relative;
}

.main-card img{
    height: 350px;
    width: 250px;
    background-size: contain;
    overflow: hidden;
}

.main-card h3{
    position: absolute;
    top: 90%;
    left: 10%;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    z-index: 2;
}

.card1::after,.card2::after,.card3::after{
    width: 100%;
    height: 15%;
    content: '';
    background-image: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    position: absolute;
    left: 0;
    top: 85%;
}

.card1:hover::after{
    width: 100%;
    height: 40%;
    content:'The cheetah is believed to have originated in the Americas about 100,000 years ago via the Beringian land bridge';
    background-image: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    position: absolute;
    left: 0;
    top: 60%;
    color: white;
    text-align: justify;
    padding: 30px 5px;
    word-spacing: -3px;
    transition: .4s;
    
}

.card2:hover::after{
    width: 100%;
    height: 40%;
    content:'Mandrill is the largest species of monkeys. This beautiful animal lives in western and central parts of Africa.';
    background-image: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    position: absolute;
    left: 0;
    top: 60%;
    color: white;
    text-align: justify;
    padding: 30px 5px;
    word-spacing: -3px;
    transition: .4s;
}

.card3:hover::after{
    width: 100%;
    height: 40%;
    content:'The White Tiger (Panthera Tigris sondaica) is not a separate subspecies of tiger. It is found in Assam, West Bengal and Bihar ';
    background-image: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    position: absolute;
    left: 0;
    top: 60%;
    color: white;
    text-align: justify;
    padding: 30px 5px;
    word-spacing: -3px;
    transition: .4s;
}

.card1:hover h3,.card2:hover h3,.card3:hover h3{
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    z-index: 2;
    transition: .4s;
}

